 <!-- All Script JS Plugins here  -->
<script src="/user/assets/js/vendor/popper.js" defer="defer"></script>
<script src="/user/assets/js/vendor/bootstrap.min.js" defer="defer"></script>
<script src="/user/assets/js/plugins/swiper-bundle.min.js"></script>
<script src="/user/assets/js/plugins/glightbox.min.js"></script>

<!-- Customscript js -->
<script src="/user/assets/js/script.js"></script>

</body>

<!-- Mirrored from risingtheme.com/html/demo-suruchi-v1/suruchi/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 26 Mar 2024 09:09:03 GMT -->
</html>